Source: ros-lunar-std-msgs
Section: misc
Priority: extra
Maintainer: Tully Foote <tfoote@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-message-generation
Homepage: http://www.ros.org/wiki/std_msgs
Standards-Version: 3.9.2

Package: ros-lunar-std-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-message-runtime
Description: Standard ROS Messages including common message types representing primitive data types and other basic message constructs, such as multiarrays.
 For common, generic robot-specific message types, please see common_msgs.
